* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.none a{
    text-decoration: none;
    color: rgb(15, 17, 20);
    margin: 35px;
    font-size: 13px;
    
}
/* .none a {
    position: relative;
    right: 80px;
} *